/* Apply to entire site */
body {
  margin: 0;
  background-color: #165bda;
}

/* Center anything */
.center {
  text-align: center;
}

/* Container for all episode card */
.ep-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 10px;
  margin: auto;
  width: 80%;
  gap: 10px;
  margin-bottom: 70px;
}

/* Each episode card */
.ep-section {
  border-radius: 10px;
  background-color: #0d2148;
  color: white;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.5),
    0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.ep-section:hover {
  transform: scale(1.025);
}

/* Image inside each episode card */
.ep-section img {
  border-radius: 10px;
  width: 100%;
}

/* Affect the title and summary only */
.ep-title,
.ep-summary {
  padding: 10px;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: solid 1px black;
  background-color: #0d2148;
  color: white;
}
